.DS_Store
desktop.ini

*.swp
*.swo
Session.vim
.cproject
.idea
*.iml
.vscode
.project
.vim/
.helix/
.zed/
.favorites.json
.settings/
.vs/
.dir-locals.el

.valgrindrc
.cargo
!/tests/run-make/thumb-none-qemu/example/.cargo

/bootstrap.toml
/config.toml
/Makefile
config.mk
config.stamp
no_llvm_build

/dl/
/doc/
/inst/
/llvm/
/mingw-build/
/build
/build-rust-analyzer/
/dist/
/unicode-downloads
/target
/library/target
/src/bootstrap/target
/src/ci/citool/target
/src/tools/x/target
/vendor
/obj/
src/tools/nix-dev-shell/flake.lock
rustc-ice-*.txt

*~
\#*
\#*\#
.#*

tags
tags.*
TAGS
TAGS.*

__pycache__/
*.py[cod]
*$py.class

node_modules
package-lock.json
package.json
/src/doc/rustc-dev-guide/mermaid.min.js

tests/rustdoc-gui/src/**.lock

/.envrc
/.direnv/

/flake.nix
flake.lock
/default.nix

data/*
.vscode/*